<footer>
    <p>© <span id="year">2016</span> Robert San. <i class="fa fa-map-marker" aria-hidden="true"></i> Salvador - Bahia - Brasil.</p>
    <ul>
        <li class="animated dark-blue">
            <a href="https://facebook.com/robertsanseries" data-tooltip="Facebook" target="_blank">
                <i class="fa fa-facebook fa-lg  "></i>
            </a>
        </li>
        <li class="animated orange weak-blue">
            <a href="https://twitter.com/robertsanseries"  data-tooltip="Twitter" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
        </li>
        <li class="animated dark-orange">
            <a href="https://plus.google.com/u/0/110347794939561822164"  data-tooltip="Google+" target="_blank">
                <i class="fa fa-google-plus fa-lg"></i>
            </a>
        </li>
        <li class="animated brown">
            <a href="https://www.instagram.com/robertsanseries/"  data-tooltip="Instagram" target="_blank">
                <i class="fa fa-instagram fa-lg"></i>
            </a>
        </li>
        <li class="animated black">
            <a href="https://github.com/robertsanseries"  data-tooltip="GitHub" target="_blank">
                <i class="fa fa-github fa-lg"></i>
            </a>
        </li>
        <li class="animated dark-blue">
            <a href="https://bitbucket.org/robertsanseries"  data-tooltip="BitBucket" target="_blank">
                <i class="fa fa-bitbucket fa-lg"></i>
            </a>
        </li>
        <li class="animated correo-yellow ">
            <a href="mailto:robertsanseries@gmail.com"  data-tooltip="Email" target="_blank">
                <i class="fa fa-envelope fa-lg"></i>
            </a>
        </li>
    </ul><br>
    <a href="https://github.com/robertsanseries/website/issues/new" target="_blank"><i class="fa fa-bug"></i> Reportar Bug -  Github Issue</a>
</footer>