<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<name name="author" content="Robert San - @robetsanseries"/>
	<meta name="description" content="Developer Fullstack"/>
	<meta name="keywords" content="Robert, Robert San, San, robertsanseries, developer, Developer fullstack, fullstack, developer, @robertsan, @robertsanseries, robert_san"/>
	<title>Robert San | Developer fullstack</title>

	<!-- Google Icons / Fonts -->
	<link href="/assets/css/fonts-icons.css" rel="stylesheet" type="text/css"></link>
	<script src="/assets/js/fontawesome.js"></script>   
	<!-- ./END Google Icons / Fonts -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- ./END Bootstrap -->

	<!-- Google loading-->
	<link rel="stylesheet" media="screen" href="/assets/css/google-loading.css"></link>
	<script type='text/javascript' src="/assets/js/google-loading.js"></script>
	<!-- ./END Google loading-->

	<!-- Default -->
	<link rel="stylesheet" media="screen" href="/assets/css/style.css"></link>
	<link rel="stylesheet" media="screen" href="/assets/css/animate.css"></link>
	<script type='text/javascript' src="/assets/js/script.js"></script>
	<!-- ./END Default -->
</head>