<div class="row header-container"></div>

<style type="text/css">
	.header-container{
		background-image: url({{ site.url }}/assets/img/apple-desk.jpg);
	}
</style>

<div class="col-sm-12 intro">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 center logo">
			<!--<img src="{{ site.url }}/assets/img/eu.jpg" style="border-radius: 50%;"> -->
			<h1 class="white">Robert San</h1>   
		    <div class="text_h center cd-headline letters type">
		        <span class="cd-words-wrapper waiting">
		            <b class="is-visible"">Se vai fazer, faça bem feito</b>
		            <b>Não ache que o simples fato de estar motivado irá lhe fazer vencer.</b>
		        </span>
		    </div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>


