<div class="row header-container"></div>

<style type="text/css">
	.header-container{
		background-image: url({{ site.url }}/assets/img/apple-desk.jpg);
	}
</style>

<div class="col-sm-12 intro">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 center logo">
			<!--<img src="{{ site.url }}/assets/img/eu.jpg" style="border-radius: 50%;"> -->
			<h1 class="white">Robert San</h1>
			<span class="icons">
				<ul>
			        <a class="weak-blue" href="https://br.linkedin.com/in/robertsanseries" data-tooltip="Linkedin" target="_blank" title="Linkedin">
			            <li class="animated" style="margin-top: -10px !important;">
			                <i class="fa fa-linkedin fa-lg"></i>
			            </li>
			        </a>
			        <a class="black" href="https://github.com/robertsanseries"  data-tooltip="GitHub" target="_blank" title="Github">
			            <li class="animated">
			                <i class="fa fa-github fa-lg"></i>
			            </li>
		            </a>
		            <a class="dark-blue" href="https://facebook.com/robertsanseries" data-tooltip="Facebook" target="_blank" title="Facebook">
		                    <li class="animated">
		                <i class="fa fa-facebook fa-lg"></i>
		                </li>
		            </a>
		            <a class="dark-orange" href="https://plus.google.com/u/0/110347794939561822164"  data-tooltip="Google+" target="_blank" title="Google+">
		            	<li class="animated">
		                	<i class="fa fa-google-plus fa-lg"></i>
		            	</li>
		            </a>
		            <a class="weak-blue" href="https://twitter.com/robertsanseries"  data-tooltip="Twitter" target="_blank" title="Twitter">
			            <li class="animated">
			                <i class="fa fa-twitter fa-lg"></i>
		                </li>
		            </a>
		            <a class="brown" href="https://www.instagram.com/robertsanseries/"  data-tooltip="Instagram" target="_blank" title="Instagram">
		            <li class="animated">
		                <i class="fa fa-instagram fa-lg"></i>
		                    </li>
		            </a>
		            <a class="dark-blue" href="https://bitbucket.org/robertsanseries"  data-tooltip="BitBucket" target="_blank" title="Bitbucket">
		            <li class="animated">
		                <i class="fa fa-bitbucket fa-lg"></i>
		            </li>
		            </a>
		            <a class="correo-yellow" href="mailto:robertsanseries@gmail.com"  data-tooltip="Email" target="_blank" title="Email">
		            <li class="animated">
		                <i class="fa fa-envelope fa-lg"></i>
		                </li>
		            </a>
			    </ul>
			</span>
			<br>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>


