<!-- NAV -->
<nav>
    <ul>
      <li>
          <a href="{{ site.url }}" title="Início">San</a>
      </li>
      <li class="space font-14">
        <a href="mailto:robertsanseries@gmail.com" title="email: robertsanseries@gmail" class="correo" target="_blank">
            <i class="fa fa-fw fa-envelope font-14"></i>
        </a>
      </li>
      <li class="space font-14">
        <a href="http://robertsanseries.blogspot.com.br/" title="Blogspot - Robert San" class="orange" target="_blank"">
            <i class="fa fa-fw fa-rss"></i>
        </a>
      </li>
    </ul>
</nav>
<!-- ./END NAV -->

